
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color:beige;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  header {
    height:150px;
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
    padding-top:50px;
  }

  nav {
    margin-bottom: 40px;
    position:absolute;
    justify-content:right;
    display:flex;
   
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  #quotes{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    margin:auto;
    background-color:darkgoldenrod;
    padding-top: 50px;
    padding-bottom:50px;
    color:#f5f5f5;
  }

  #sidebar{
    display:flex;
    position:absolute;
    justify-content: flex-start;
    align-self:flex-start;
    background-color: #333;
    width:200px;
    height:90%;
    padding-left: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    color:#f5f5f5
  }
  #about{
    margin:auto;
    text-align: center;
    margin-bottom:30px;
  }

  #button{
    display:flex;
    width:400px;
    height:80px;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    border-radius: 50px;
    outline:#333;
    margin:auto;
    margin-bottom:50px;
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  main h2 {
    margin-bottom: 20px;
  }
  
  main ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  main li {
    margin-bottom: 10px;
  }
  
  section#contact {
    text-align: center;
    margin-top:50px;
  }
  
  #image{
    position:fixed;
    bottom:50px;
    right:50px;
  }